// Global defaults
@import "./abstracts/ey-colors";
@import "./abstracts/variables";

// Bootstrap variables

$gray-100: $ey-gray-tint3;
$gray-400: $ey-gray-tint2;
$gray-500: $ey-gray-tint1;
$gray-600: #666;
$gray-700: $ey-gray-alternate;
$gray-800: $ey-dark-gray;
$gray-900: $ey-new-gray;

$blue: $ey-link-blue;
$indigo: $ey-purple;
$purple: $ey-lilac;
$red: $ey-red;
$yellow: $ey-yellow;
$green: $ey-green;
$cyan: $ey-blue;

$body-bg: $gray-900;
$body-color: $white;

$link-color: $body-color;
$link-hover-color: $link-color;

$border-radius: $default-border-radius;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$font-family-base: $ey-interstate;

$font-weight-light: $light-font;
$font-weight-normal: $regular-font;
$font-weight-bold: $bold-font;

$font-weight-base: $font-weight-normal;

$headings-font-family: $font-family-base;
$headings-font-weight: $font-weight-base;

$input-btn-focus-width: $default-box-shadow-width;

$input-btn-padding-y: 1rem;
$input-btn-padding-x: 2rem;

$input-btn-padding-y-sm: .75rem;
$input-btn-padding-x-sm: 1.5rem;

$input-btn-padding-y-lg: 1.25rem;
$input-btn-padding-x-lg: 2.5rem;

$btn-icon-padding-y: .778rem;
$btn-icon-padding-y-sm: .556rem;
$btn-icon-padding-y-lg: .973rem;

$input-focus-border-color: $yellow;
$input-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba($yellow, .25);

@import "~bootstrap/scss/bootstrap";

// Bootstrap custom styles

.btn {
  &.has-icon {
    padding-top: $btn-icon-padding-y;
    padding-bottom: $btn-icon-padding-y;
  }
}

.btn-sm {
  &.has-icon {
    padding-top: $btn-icon-padding-y-sm;
    padding-bottom: $btn-icon-padding-y-sm;
  }
}

.btn-lg {
  &.has-icon {
    padding-top: $btn-icon-padding-y-lg;
    padding-bottom: $btn-icon-padding-y-lg;
  }
}

.btn-link {
  font-weight: $btn-font-weight;
  &:focus,
  &.focus {
    box-shadow: $input-focus-box-shadow;
  }
  &.btn-sm {
    font-weight: $font-weight-light;
  }
}